.modal-content {
    height: 220px;
    left: 30%;
    position: absolute;
    top: 25%;
    width: 300px;
    display: none;
}

.modal-motif {
    height: 220px;
    left: 30%;
    position: absolute;
    top: 25%;
    width: 300px;
    display: none;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;

}
